<body>
    <h1 class="upload_fish_title">Catch Details</h1>
    <div class="back-button">
        <a><button class="blue3" onclick=window.history.back()>Back</button></a>
    </div> 
    <div>
        {{#each fishes}}
        
            <div class="fish-flexbox blue1">
                <img style="width: 50%;" src="data:image/png;base64,{{this.img.data}}">
                <div class="fish_details_flexbox">
                    <h5>Angler: {{this.angler}}</h5>
                    <p>Upload Time: {{this.displayDate}}</p>
                    <p>Species: {{this.species}}</p>
                    <p>Size: {{this.size}}cm</p>
                    <p>Weight: {{this.weight}}g</p>
                    <p>Weather: {{this.weather}}</p>
                    <p>Location: {{this.location}}</p>
                    <p>Mates: {{this.mates}}</p>
                </div>
            </div>
            <body>
      
    <button class="uploadfish_button blue1" style="width: 30%; margin: auto" onfocus="copy()" onclick="jump()">Share</button>
    <script>
        function copy() {
            /* Copy text into clipboard */
            navigator.clipboard.writeText
                (window.location.href);
        }
        function jump(){
            if (confirm("share it to Facebook?")){
                window.open("https://www.facebook.com/");
            }
        }
    </script>
</body>
        {{/each}}
            <hr>
            {{#if user}}
                {{#each fishes}}
                <div class="upload_fish_form">
                    <form action="" method="POST">
                        <h5 style="align-text: center">Feel uncomfy with it? Update it!</h5>
                        <div>
                            <label class="upload_fish_section" for="name">Species: </label>
                            <input class="upload_fish_input" type="text" id="name" placeholder="Name" value="{{this.species}}" name="name" required>
                        </div>
                        <div>
                            <label class="upload_fish_section" for="desc">Size (in cm): </label>
                            <input class="upload_fish_input" type="number" id="size" placeholder="Size" value="{{this.size}}" name="size">
                        </div>
                        <div>
                            <label class="upload_fish_section" for="info">Weight (in g): </label>
                            <input class="upload_fish_input" type="number" id="weight" placeholder="Weight" value="{{this.weight}}" name="weight">
                        </div>
                        <div>
                            <label class="upload_fish_section" for="info">Weather: </label>
                            <input class="upload_fish_input" type="text" id="weather" placeholder="weather" value="{{this.weather}}" name="weather">
                        </div>
                        <div>
                            <label class="upload_fish_section" for="info">Location: </label>
                            <input class="upload_fish_input" type="text" id="location" placeholder="location" value="{{this.location}}" name="location">
                        </div>
                        <div>
                            <label class="upload_fish_section" for="info">Mates: </label>
                            <input class="upload_fish_input" type="text" id="mates" placeholder="mates" value="{{this.mates}}" name="mates">
                        </div>
                        <button class = "details_button blue1" type="submit" onclick = alert("updating")>Update</button>
                    </form>
                    <a href = "/delete/{{this._id}}"><button class ="details_button blue2" type="button">Delete</button></a>
                </div>
                {{/each}}
            {{/if}}
        

    </div>
</body>