<body>
    <h1 class="upload_fish_title">Star of FishCrate</h1>
    <div>
        {{#each fishes}}
        <div class="fish-flexbox blue1">
            <img class="fish_image" src="data:image/png;base64,{{this.img.data}}">
            <div class="fish_details_flexbox">
                <p class="fish_details blue3">Date: {{this.displayDate}}</p>
                <p class="fish_details blue3">Species: {{this.species}}</p>
                <p class="fish_details blue3">Size: {{this.size}}cm</p>
                <p class="fish_details blue3">Weight: {{this.weight}}g</p>
            </div>
        </div>
        {{/each}}
    </div>
</body>