<body class="upload_fish"> 
    <div class="user_homepage">
        <div class="user_report">
            <div class="report_data bluegrad">
                <h1 style="text-align: center">Catch of the Year!</h1>
                {{#each result.fishes}}
                    <img class="best_fish_picture" src="data:image/png;base64,{{this.img.data}}">
                    {{!-- <p class="best_fish_details blue3">Date: {{this.displayDate}}</p> --}}
                    <a class="best_details_button blue1" href="/fishDetails/{{this._id}}" type="button">Details</a>
                {{/each}}
                
                {{#each result.record}}
                <h1 class="career_overview">Your favourite fishing spot is at {{this.loc}} with {{this.locNum}} caught!</h1>
                <h1 class="career_overview">Your most caught species is {{this.spe}} with {{this.speNum}} caught!</h1>
                <h1 class="career_overview">You've caught {{this.weaNum}} fish under a {{this.wea}} day!</h1>
                <h1 class="career_overview">You've caught {{this.totWei}} grams of fishes in total!</h1>
                {{/each}}
            </div>
        </div>
        <div class="user_homepage_buttons">
            <a href="upload_fish"><button class="viewfish_button blue1">Upload Fish</button></a>
            <a href="viewFish"><button class="viewfish_button blue2">Your Fish</button></a>
        </div>
    </div>
</body>
<div>
        <a href="suggestion"><button class="suggestion_button blue2">Suggestion</button></a>
</div> 