<body class="bluegrad">
    
    <h1 class="upload_fish_title">Uploaded Fish</h1>
    <div class="search-bar">
        <div class="back-box-search">
            <a><button class="back-button-search blue3" onclick=window.history.back()>Back</button></a>
        </div>
        <form action="/search" method="POST" class="search_options_form">
            <h2><label for="name">Sort with: </label></h2>
            <select class="sort_with" name="sort">
                <option value="default">Default</option>
                <option value="time">Time</option>
                <option value="size">Size</option>
                <option value="weight">Weight</option>
            </select>

            <h2><label for="name">Filter by: </label></h2>
            <select class="sort_with" name="target">
                <option value="default">Default</option>
                <option value="period">Period</option>
                <option value="species">Species</option>
                <option value="weather">Weather</option>
                <option value="location">Location</option>
                <option value="mates">Mates</option>
            </select>

            <input class="fish_filter" type="text" id="name" placeholder="Name" value="" name="name">
            <div class="search-box">
                <button class="search-button blue3" type="submit">Search</button>
            </div>
        </form>
    </div>

<hr>
{{#if found}}

        {{#each fishes}}
        <div class="fish-flexbox blue1">
            <img class="fish_image" src="data:image/png;base64,{{this.img.data}}">
            <div class="fish_details_flexbox">
                <p class="fish_details blue3">Date: {{this.displayDate}}</p>
                <p class="fish_details blue3">Species: {{this.species}}</p>
                <p class="fish_details blue3">Size: {{this.size}}cm</p>
                <p class="fish_details blue3">Weight: {{this.weight}}g</p>
                <a href = "/fishDetails/{{this._id}}"><button class="details_button blue2" type="button">Details</button></a>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
        <div>
            <h1 class="upload_fish_title">Sorry, looks there are no record found.</h1>
        </div>
    {{/if}}
</body>