<body>
    <h1>Uploaded Fishes</h1>
    <div>
        <p>Sort with: </p>
        <a href = "/sortWithTime"><button class = nav type="button">Time</button></a>
        <a href = "/sortWithSize"><button class = nav type="button">Size</button></a>
        <a href = "/sortWithWeight"><button class = nav type="button">Weight</button></a>
        <a href = "/reset"><button class = nav type="button">Reset</button></a>
        <hr>
        {{#each images}}
        <div>
            <div>
                <img src="data:image/png;base64,{{this.img.data}}">
                <div>
                    <h5>Angler: {{this.angler}}</h5>
                    <p>Species: {{this.species}}</p>
                    <p>Size: {{this.size}}</p>
                    <p>Weight: {{this.weight}}</p>
                    <a href = "/fishDetails/{{this._id}}"><button class = nav type="button">Details</button></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</body>